@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply w-dvw h-dvh overflow-hidden bg-background text-white;
}

h1 {
  @apply text-lg tablet:text-xl font-semibold w-fit py-2 text-primary;
}

h2 {
  @apply text-base tablet:text-lg w-fit py-1 text-primary;
}

.hover-colors {
  @apply duration-200 ease-out transition-colors;
}

.app-layout {
  @apply w-full h-full grid;
  grid-template-columns: 200px 1fr;

  @media (max-width: 768px) {
    @apply block;
  }
  // h-[calc(100%-24px)]
  main {
    @apply overflow-y-scroll overflow-x-hidden scroll-smooth flex flex-col h-full;

    @media (width <=768px) {
      @apply absolute top-0 w-full;
      height: calc(100dvh - 56px);
    }
  }
}

::-webkit-scrollbar {
  @apply w-1 h-1;
}

::-webkit-scrollbar-track {
  @apply bg-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary duration-200 transition-colors;

  &:hover {
    @apply bg-primary/70;
  }
}
